<form #f="ngForm">
  <input type="hidden" name="id" [(ngModel)]="user.id">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input [(ngModel)]="user.name" class="form-control form" name="firstname" id="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input [(ngModel)]="user.lastname" class="form-control form" name="lastname" id="lastname">
  </div>
  <div class="form-group">
    <label for="fiscalcode">Fiscal Code</label>
    <input [(ngModel)]="user.fiscalcode" class="form-control form" name="fiscalcode" id="fiscalcode">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" class="form-control form" type="email" name="email" id="email">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input [(ngModel)]="user.phone" class="form-control form" name="phone" id="phone">
  </div>
  <div class="form-group">
    <label for="province">Province</label>
    <input [(ngModel)]="user.province" class="form-control form" name="province" id="province">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input [(ngModel)]="user.age" class="form-control form" type="number" name="age" id="age">
  </div>
  <div class="form-group form-footer">
    <div class="row">
      <div class="">
        <button class="btn btn-secondary" (click)="ResetForm(f.form)">Reset</button>
      </div>
      <div class="col-sm-5">
        <button class="btn btn-success" (click)="SaveUser()">Save</button>
      </div>
    </div>  
  </div>
</form>