<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.province}}</td>
<td>
  <div class="row">
    <div class="">
      <button class="btn btn-primary btn-sm" (click)="UpdateUser()">Update</button>
    </div>
    <div class="">
      <button class="btn btn-secondary btn-sm" (click)="ShowUser()">Show</button>
    </div>
    <div class="">
      <button class="btn btn-danger btn-sm" (click)="DeleteUser()">Delete</button>
    </div>
  </div>
</td>